// === COLORS ===
$text-color: #222;
$body-color: #F6F4F1;
$post-background: #D7CED7;
$primary-color: #76323F;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: #565656;
$tertialy-color: #26A69A;
$white: #fff;


// === FONTS ===
$text-font: "Lato", Arial, sans-serif;
$header-font: 'Montserrat', Georgia, serif;

// === SIZES ===
$text-size: 16px;
$context-width: 960px;

