// === COLORS ===
$text-color: #222;
$body-color: #F6F4F1;
$post-background: #7f8c8d;
$primary-color: #34495e;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: #AF4329;


// === FONTS ===
$text-font: "Lato", Arial, sans-serif;
$header-font: 'Courgette', Georgia, serif;

// === SIZES ===
$text-size: 16px;
$context-width: 960px;

