/*
* Developed by Anthony Ngene
*/

@import 'common/mixins';
@import 'common/variables';
@include google-font('Lato');
@include google-font('Courgette');

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

@import 'extras';

body {
  color: $text-color;
  font-family: $text-font;
  font-size: $text-size;
}

// HEADER
nav {
  background-color: $primary-color;

  .brand-logo {
    font-family: $header-font;
  }

  .dropdown-content {
    margin-top: 64px;
    min-width: 140px;

    li {
      a {
        color: $primary-color;
        text-align: center;
      }
    }
    li .fa {
      margin-right: 0;
    }
  }

  #documents-dropdown {
    min-width: 200px;
  }
  @include small-screen() {
    li a {
      font-size: 13px;
    }
    i.right {
      display: none;
    }
  }
}

// MAIN
main {
  position: relative;
  .preloader-wrapper {
    position: fixed;
    top: 80px;
    left: 15px;
    z-index: 999;
  }
  .documents-div,
  .document-div,
  .form-div {
    padding: 50px 0px;
    min-height: 85vh;
  }
  .documents-div {
    background-color: $body-color;
  }
  .fixed-action-btn {
    bottom: 100px;
    i,
    ul {
      background-color: $primary-color;
      color: #fff;
      .input-field,
      label {
        color: #fff;
      }
    }
  }
  .documents {
    .card {
      position: relative;
      background-color: $secondary-color;
      height: 250px;
      .view-document {
        display: block;
        height: 250px;
      }
      hr {
        margin-bottom: 15px
      }
      .edit-btn,
      .delete-btn {
        position: absolute;
        top: -15px;
        background-color: $primary-color;
      }
      .edit-btn {
        right: 50px;
      }
      .delete-btn {
        right: 0px;
      }
      .card-content {
        max-height: 250px;
        overflow: auto;
      }
    }
    .recent-documents {
      text-align: center;
      font-size: 25px;
      margin: 0 0 10px 0;
    }
  }
  .document-div {
    background-color: $post-background;
    .document {
      background-color: #fff;
      padding: 30px 25px;
      font-size: 20px;
      letter-spacing: 0.8px;
      word-spacing: 2px;
      h1,
      h2,
      h3,
      h4 {
        margin-bottom: 3px;
      }
      .meta-info {
        margin-bottom: 20px;
      }
      img {
        max-width: 100%;
        margin: 10px 0;
      }
    }
  }
  .select-role {
    width: 89%;
    display: block;
    margin-left: 45px;
  }
}

// FOOTER
.page-footer {
  background-color: $primary-color;
  padding: 10px 0px;
}

// nav control
.guest {
  .loggedIn,
  .forAdmin {
    display: none
  }
}

.regularUser {
  .notLoggedIn,
  .forAdmin {
    display: none
  }
}

.administrator {
  .notLoggedIn {
    display: none
  }
}
