/*
* Developed by Anthony Ngene
*/
@import 'materialize';

@include google-font("Lato");
@include google-font("Courgette");
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body{
  font-family: $text-font;
  color: $text-color;
  font-size: $text-size;
}

@import 'extras';

// HEADER
nav{
  .brand-logo{
    font-family: $header-font;
  }
  .dropdown-content{
    margin-top: 64px;
    min-width: 140px;
    li a {
      text-align: center;
      color: $primary-color;
    }
    li .fa{margin-right: 0;}
  }
  #documents-dropdown{
    min-width: 200px;
  }

  @include small-screen(){
    li a {
      font-size: 13px;
    }
    i.right {
      display: none;
    }
  }
}

// MAIN
main {
  position: relative;

  .preloader-wrapper {
    position: fixed;
    top: 80px;
    left: 15px;
    z-index: 999;
  }

  .documents-div, .document-div, .form-div {
    padding: 50px 0px;
    min-height: 85vh;
  }

  .documents-div {
    background-color: $body-color;
  }
  .fixed-action-btn{
    bottom: 100px;
    i,
    ul {
      background-color: $primary-color;
      color: #fff;

      .input-field, label { color: #fff; }
    }
  }
  .documents {
    .card {
      position: relative;
      background-color: $secondary-color;
      min-height: 230px;

      hr { margin-bottom: 15px }
      .edit-btn, .delete-btn {
        position: absolute;
        top: -15px;
        background-color: $primary-color;
      }
      .edit-btn{
        right: 50px;
      }
      .delete-btn{
        right: 0px;
      }
    }
    .recent-documents {
      text-align: center;
      font-size: 25px;
      margin: 0 0 10px 0;
    }
  }

  .document-div {
    background-color: $post-background;

    .document {
      background-color: #fff;
      padding: 30px 25px;
      font-size: 20px;
      letter-spacing: 0.8px;
      word-spacing: 2px;
      h1, h2, h3, h4 {
        margin-bottom: 3px;
      }
      .meta-info{
        margin-bottom: 20px;
      }
      img {
        max-width: 100%;
        margin: 10px 0;
      }
    }
  }

  .select-role {
      width: 89%;
      display: block;
      margin-left: 45px;
  }
}

// FOOTER
.page-footer {
  padding: 10px 0px;
}

// nav control
.guest {
  .loggedIn, .forAdmin {display: none}
}
.regularUser {
  .notLoggedIn, .forAdmin {display: none}
}
.administrator {
  .notLoggedIn {display: none}
}
